[main]
Description=jinruiqh
Host=124.93.224.7
AuthType=1
GroupName=jinruiqh
GroupPwd=
enc_GroupPwd=12239B8EF972EF6308686D6B0CA2467BC93C1EAC4AFBE4DEAD28CA3AB30FA46E797ABFFBB1A67A11A8DF58581FED11F8B3E4A3E3ED333B88
EnableISPConnect=0
ISPConnectType=0
ISPConnect=SSL VPN Client Connection
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=jinruiqh03
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
